HF_ENDPOINT=
OLLAMA_BASE_URL=
OPENAI_API_KEY=
OPENAI_BASE_URL=
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=
O3_API_KEY=
O3_BASE_URL=
GITEE_API_KEY=
GITEE_BASE_URL=
NIM_API_KEY=
NIM_BASE_URL=
SILICON_FLOW_API_KEY=
SILICON_FLOW_BASE_URL=
LLAMA_CLOUD_API_KEY=
PYMUPDF_PRO_TRIAL_KEY=
JINA_API_KEY=
MILVUS_TOKEN=
NEO4J_USR=
NEO4J_PWD=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USR=
MYSQL_PWD=
USER_AGENT=
TAVILY_API_KEY=